.mySwiper {
    position: relative;
    padding: 0 44px;
}

@media (min-width: 640px) {
    .mySwiper {
        padding: 0 50px;
    }
}

/* Di chuyển nút Previous ra lề trái. 
  Mặc định Swiper đặt giá trị 'left' nhỏ.
*/
.mySwiper .swiper-button-prev {
    left: 0px; /* Đặt nút sát lề trái của vùng padding */
}

/* Di chuyển nút Next ra lề phải.
  Mặc định Swiper đặt giá trị 'right' nhỏ.
*/
.mySwiper .swiper-button-next {
    right: 0px; /* Đặt nút sát lề phải của vùng padding */
}