.w-custom{
    width: 100dvw;
    /* height: 100vh; */
    max-height: 100dvh;
    min-height: 87dvh;
}

.title-custom{
    font-size: 3rem;
}

@media screen and  (max-width: 768px){
    .w-custom{
        height: 100dvh;
        padding: 15px 0 0 0;
    }
}